<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Notification</title>
</head>
<body>
    <h1>Login Notification</h1>
    <p>Dear <%= name %>,</p>
    <p>You have successfully logged in on <%= time %>.</p>
    <p>Location: <%= location %></p>
    <p>User Agent: <%= userAgent %></p>
    <p>IP Address: <%= ip %></p>
    <p>Browser: <%= browser %></p>
    <p>If this wasn't you, please contact our support team immediately.</p>
    <p>Best regards,</p>
    <p>CrediWallet</p>
</body>
</html>
